@import url("fonts.css");
@import url("reset.css");
header {
    background-color: rgb(255, 238, 216);
}
footer{
        text-align: center;
        color: #262729;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        text-transform: lowercase;
        text-align: center;
        background-color: rgb(226, 195, 153);
        padding: 25px 0;
}
.footer-link * {
margin-right: 10%;
}

.link-link:hover {
    text-decoration: overline;
    color: #606060;
}
.blok-header-link,
.link-link {
    color: #37393F;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 13px;
    padding: 25px 0;
    text-align: center;
}
.blok-header-link *{
    margin-right: 26px;
}
.blok-header-link *:hover {
    text-decoration: underline;
    color: #606060;
}
/* _________________________________ */
.blok-jewels {
    padding: 50px 15px;
    max-width: 1163px;
    color: #606060;
    font-size: 30px;
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 0 auto;
}
.blok-contentt-jewels {
    max-width: 503px;
    text-align: center;
    display: inline-block;
    padding-top: 51px;
    margin: 51px 75px 55px 0px ;
    text-align: left;
}
.sub-contentt-jewels {
    color: #D58417;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.title-contentt-jewels {
    color: black;
    font-size: 64px;
    text-transform: capitalize;
    margin-bottom: 31px;
    width: 503px;

}
.text-contentt-jewels{
    line-height: 1.4;
}
.blok-imges-jewels {
    display: inline;
    max-width: 525px;
    margin-bottom: 75px;
}
.img-girldress {
    max-width: 336px;
    margin-right: 30px;
    height: 336px;
    box-shadow:
    11px -19px 0px 0px #ffffff, 11px -19px 0px 1px #502203;
border-radius: 235px;
}
.img-girlsuit {
    max-width: 307px;
    box-shadow:
        11px -19px 0px 0px #ffffff, 11px -19px 0px 1px #502203;
    border-radius: 235px;
}
/* ____________________________________________________________________ */
.blok-information {
    color: #7D7D7D;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 1.46;
    padding: 50px 15px;
    max-width: 860px;
    margin: 0 auto;
}
.title-information {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.27;
    text-transform: capitalize;
    margin-bottom: 13px;
}
    .blok-information *{
    margin-bottom: 35px;
}
.list-information-ol + p{
    margin-bottom: 0px;
}
.list-information-ul *, .list-information-ol *{
    color: #7D7D7D;
font-weight: 500;
margin-bottom: 0px;
line-height: 2.6;
}
/* _______________________________________________________ */
.blok-licencing {
    padding: 50px 15px;
    color: #7D7D7D;
    font-size: 18px;
    font-family: Inter;
    line-height: 1.46;
    margin: 0 auto;
    max-width: 1248px;
}
.blok-title-licencing {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 70px;
}
.dguare {
    width: 12px;
	height: 12px;
	background-color: #40DDB6;
    display: inline-block;
}
.sub-sub-title-licencing {
    font-weight: 500;
    display: inline-block;
}
.title-licencing {
    color: #37393F;
    font-size: 60px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.21;
}
.title{
    color: #37393F;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 11px;
}
.sub{
    color: #37393F;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
}
* span {
    word-spacing: 15px;
}
.text-icons,
.text-photography {
    margin-bottom: 32px;
}
.blok-licencing a{
    color: #40DDB6;
}
.blok-licencing a:hover {
    color: #30a588;
    text-decoration: underline;
}
.blok-photography,
.sub-title-photography {
    margin-bottom: 100px;
}
.title-pexels,
.title-unsplash {
    margin-bottom: 8px;
}
.link-pexels {
    margin-bottom: 24px;
}
/* _________________________________________________________________________________ */
.blok-euphoria {
    padding: 50px 15px;
    color: #807D7E;
    font-size: 20px;
    font-family: "Causten-Regular", serif;
    line-height: 1.68;
    letter-spacing: 0.40px;
    margin: 0 auto;
    max-width: 1249px;
}
.title,
.sub,
.blok-euphoria span {
    color: #807D7E;
    font-family: "CoreSansC-65Bold", serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.56px;
    text-transform: capitalize;
}
.clothing-title {
    color: #3C4242;
    font-size: 28px;
    margin-bottom: 30px;
}
.clothing-title span {
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background-color: #8a33fd;
    margin-right: 15px;
    display: inline-block;
    
}
.text > p {
    margin-bottom: 20px;
}
.reexplore-sub-title,
.reexplore-text,
.see-sub-title,
.one-sub-title {
    margin-bottom: 25px;
}
.one-title {
}
.text > p {
    margin-bottom: 20px;
}
/* _____________________ */
main {
    padding: 30px;
}
.title1 {
    border: 20px double transparent;
    box-shadow: 5px 5px 15px #262729;
    background-color: rgba(0, 0, 255, 0.192);
}
.text1 {
    border: 10px dotted #30a588;
    padding: 15px;
    width: 300px;
    border-radius: 20px;
}
.list1 {
    border: 10px dashed #30a588;
    visibility: hidden;
}
.imgs {
    border: 5px dashed red;
    border-radius: 46%;
    box-shadow: 6px 5px 10px #8a33fd;
}
.title2 {
    border: 4px double;
}
.link1 {
    color: #8a33fd;
    border-bottom: 6px solid #30a588;
}
.circle1 {
    width: 400px;
    height: 400px;
    background:  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
    border-radius: 50% 50% 50% 50% / 50% 100% 0% 50%;
    display: inline-block;
    opacity: 56%;
}
.circle2 {
    width: 400px;
    height: 400px;
    background:  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
    border-radius: 50% 50% 50% 50% / 100% 50% 50% 0% ;
    display: inline-block;
}
.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-right: 150px solid green;
    border-bottom: 50px solid transparent;
}
.arrow-left {
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-left: 150px solid green;
    border-bottom: 50px solid transparent;
}
.arrow-botom {
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 150px solid green;;
}
.arrow-top {
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 150px solid green;;
}


