@import url("fonts.css");
@import url("reset.css");
.bloc-l {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
    margin: 0 auto;
    padding: 150px 15px;
    max-width: 1250px;
}
.bloc-l a:hover {
    opacity: 0.7;
}
.introduction-l {
    text-align: center;
    margin-bottom: 47px;
}
.h3-sub-sub-title-introduction {
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 14px;
    background: url("../img/rectangle.png") left center / auto no-repeat;
    display: inline-block;
    padding-left: 18px;
    background-position: left 5px;
}
.h2-sub-title-l {
    margin: 0px 0px 10px 1px;
    color: #37393F;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.27;
}
.h1-title-introduction {
    text-align: center;
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 14px;
}
.text-introduction {
    max-width: 852px;
    margin: 0 auto;
}
.bloc-content-top {
margin-bottom: 58px;
}
.imges {
    margin-bottom: 24px;
    padding-bottom: 501px;
}
.img-financial {
    background: url("../img/l-programmer-monitor.png") center / cover no-repeat;
}
.img-marketing {
    background: url("../img/l-guy-laptop-sofa.png") center / cover no-repeat;
}
.img-business {
    background: url("../img/l-phone-schedule.png") center / cover no-repeat;
}
.img-financ {
    background: url("../img/l-business-lady.png") center / cover no-repeat;
}
.img-web {
    background: url("../img/l-meeting\ infographic.png") center / cover no-repeat;
}
.img-investment {
    background: url("../img/l-table-laptop-coffee.png") center / cover no-repeat;
}
.bloc {
    width: 384px;
    display: inline-block;
    vertical-align: top;
}
.text-date {
    font-size: 14px;
    background: url("../img/l-icon.svg") 0 0 / auto no-repeat;
    padding-left: 25px;
    margin-left: 3px;
}
.right {
    margin-right: 28px;
}
/* __________________________________________________________ */
.bloc-euphoria {
    max-width: 1270px;
    margin: 0 auto;
    padding: 100px 15px;
    color: white;
    font-size: 0px;
    font-family: "Causten", sans-serif;
    font-weight: 300;
}
.content-euphoria {
    background: url("../img/w-leaves-black-background.png") center / cover no-repeat;
    padding: 183px 74px 174px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 1px;
}
.h2-title-euphoria {
    font-size: 34px;
    font-family: "CoreSansC";
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.21px;
    margin-bottom: 30px;
}
.text-euphoria {
    margin-bottom: 50px;
    max-width: 451px;
    text-align: left;
}
.link-euphoria {
    color: #3C4242;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 44px;
    background: white center top / cover no-repeat;
    border-radius: 8px;
    text-transform: capitalize;
    display: inline-block;
}
.link-euphoria:hover {
    background: rgb(243, 201, 15);
}
.imge-euphoria {
    background: url("../img/w-photo-models.png") center / cover no-repeat;
    min-height: 640px;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
/* __________________________________________________________ */
.bloc-whitecollar {
    margin: 0 auto;
    padding: 151px 15px;
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
    max-width: 772px;
}
.title, 
.list-care {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.21;
    max-width: 413px;
    text-transform: capitalize;
}
.title {
    margin-bottom: 20px;
}
.content-care {
}
.h4-sub-sub-sub-title-care {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background: url("../img/rectangle.png") left center / auto no-repeat;
    padding-left: 18px;
    vertical-align: middle;
    margin-bottom: 16px;
}
.text-care p {
    margin-bottom: 15px;
}
.text-care {
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 20px;
    max-width: 673px;
}
.list-care {
    max-width: 580px;
    margin-bottom: 43px;
}
.list-care li{
    color: #37393F;
    font-size: 20px;
    font-weight: 400;
    background: url("../img/b-icon-ok.png") no-repeat;
    padding-left: 46px;
    margin-bottom: 23px;
    line-height: 1.5;
}
.columm-care h2 {
    font-size: 20px;
    font-weight: 600;
}
.columm-care p {
    max-width: 173px;
}
.columm-care {
    margin-bottom: 37px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 47px;
}
.columm-care * h2 {
    margin-bottom: 3px;
}
.bloc-experience-care {
    display: inline-block;
    padding: 31px 32px 32px 32px;
    outline: 0.1px solid #e7e7e7;
    max-width: 295px;

    margin: 0 auto;
    margin-right: 21px;
}
.experience-care {
    background: url("../img/b-cup.svg") left top / auto no-repeat;
    padding-left: 58px;
    background-position: left 5px;
}
.awards-care {
    background: url("../img/b-charter.svg") left  / auto no-repeat;
    padding-left: 58px;
    background-position: left 5px;
}
.bloc-awards-care {
    display: inline-block;
    padding: 31px 32px 32px 32px;
    outline: 0.1px solid #e7e7e7;
    max-width: 295px;
}
.link-whitecollar {
    padding: 21px 27px 22px 27px;
    background: #6B77E5;
    color: white;
    display: inline-block
}
.link-whitecollar:hover {
    background: rgb(193, 198, 241);
}
/* __________________________________________________________ */
.blok-euphoria {
    padding: 50px 15px;
    margin: 0 auto;
    max-width: 1249px;
    text-align: left;
    color: #807D7E;
}
.clothing-title {
    color: #3C4242;
    font-size: 28px;
    font-family: "CoreSansC", sans-serif;
    font-weight: 650;
    line-height: 1.2;
    letter-spacing: 0.56px;
    background: url("../img/crisis.png") 0 0 / auto no-repeat;
    margin-left: -15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.sub{
    margin-bottom: 25px;
}
.sub,
.link {
    font-size: 20px;
    font-family: "CoreSansC", sans-serif;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.40px;
}
.link:hover  {
    color: #3C4242;
    text-decoration: underline;
}
.text-e > p {
    font-size: 20px;
    font-family: "Causten", sans-serif;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.40px;
    margin-bottom: 20px;
}.reexplore-sub-title,
.text-e,
.see-sub-title,
.one-sub-title,
.reexplore-text {
    margin-bottom: 25px;
}
.one-text {
    margin-bottom: 20px
}
.one-see-sub-title {
}
span {
    font-weight: 650;
}
/* __________________________________________________________ */
footer {
    padding: 15px 30px;
    max-width: 960px;
    margin: 0 auto;
}
.text-practice {
    margin-bottom: 30px;
    background-image: url("../img/l-programmer-monitor.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-size: contain;
    background-position: center;
}
.text-practice2 {
    margin-bottom: 30px;
    background-image: url("../img/l-phone-schedule.png");
    background-repeat: no-repeat;
    background-position: center right;
}
.text-pattern {
color: rgb(136, 127, 7);
margin-bottom: 30px;
background-image: url("../img/pattern.png");
}
.span-practice {
    background-image: radial-gradient(circle, rgba(251,63,63,1) 8%, rgba(251,66,174,1) 44%, rgba(252,70,113,1) 100%);
    background-size: cover;
    background-position: top;
    margin-bottom: 30px;
}
.text-practice3 {
    background: burlywood url("../img/l-table-laptop-coffee.png") 0 40% / 400px no-repeat scroll ;
    margin-bottom: 30px;
}
.text-practice4 {
    background: url("../img/l-table-laptop-coffee.png") 40% / 400px no-repeat scroll, radial-gradient(circle, rgba(251,63,63,1) 8%, rgb(167, 214, 90) 44%, rgba(252,70,113,1) 100%) 40% / 400px no-repeat scroll ;
    margin-bottom: 30px;
}
