@font-face {
    font-family: "BanderaPro";
    src: 
        url("../fonts/BanderaProHeavy.woff") format( "woff2 "),
        url("../fonts/BanderaProHeavy.woff") format( "woff ");
    font-weight: 900;
}
@font-face {
    font-family: "BanderaPro";
    src: 
        url("../fonts/BanderaProBold.woff") format("woff2"),
        url("../fonts/BanderaProBold.woff") format("woff");
    font-weight: 700;
    }
@font-face {
    font-family: "BanderaPro";
    src: 
        url("../fonts/BanderaProLight-Italic.woff") format("woff2"),
        url("../fonts/BanderaProLight-Italic.woff") format("woff");
    font-weight: 300;
    font-style: іtalic;
}
