@font-face {
    font-family: "BanderaPro";
    src: 
        url("../fonts/BanderaProHeavy.woff") format( "woff2 "),
        url("../fonts/BanderaProHeavy.woff") format( "woff ");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "BanderaPro";
    src: 
        url("../fonts/BanderaProBold.woff") format("woff2"),
        url("../fonts/BanderaProBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    }
@font-face {
    font-family: "BanderaPro";
    src: 
        url("../fonts/BanderaProMedium.woff") format("woff2"),
        url("../fonts/BanderaProMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
