@import url("fonts.css");
@import url("reset.css");
.wrapper {
	min-height: 100%;
	overflow: clip;
	padding: 50px;
}
/* _____СARS_________ */
.main__conteiner {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1250px;
	margin: 0 auto;
	vertical-align: top;
	text-align: center;
	font-size: 0;
}
.main__blok {
	margin-bottom: 20px;
	margin-top: 20px;
	min-height: 1250px;
}
.cars__background {
	position: relative;
	z-index: 1;
}
.background__1 {
	width: 570px; 
	height: 310px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(-10deg);
	top: 60px ;
	left: 470px ;
}
.background__2 {
	width: 570px; 
	height: 210px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(-10deg);
	top: 340px ;
	left: 170px ;
}
.background__3 {
	width: 570px; 
	height: 280px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(-10deg);
	top: 540px ;
	left: 100px ;
}
.background__4 {
	width: 570px; 
	height: 210px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(-10deg);
	top: 190px ;
	left: 430px ;
}
.background__5 {
	width: 570px; 
	height: 280px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(-10deg);
	top: 210px ;
	left: 700px ;
}
.background__6 {
	width: 570px; 
	height: 220px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(-10deg);
	top: 410px;
	left: 780px;
}
.background__7 {
	width: 570px; 
	height: 280px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	transform: rotate(50deg);
	top: 410px ;
	left: 870px ;
}
.background__8 {
	width: 840px; 
	height: 460px;
	background-color: #95d4e8;
	position: absolute;
	top: 320px;
	left: 420px;
	transform: rotate(-5deg);
}
.background__9 {
	width: 570px; 
	height: 350px;
	background-color: #95d4e8;
	border-radius: 50%;
	position: absolute;
	top: 170px;
	left: 740px;
}
.cars__background2 {
	position: relative;
	top: 250px ;
	left: 160px ;
	transform: scale(0.7);
	z-index: 2;
}
.cars__background2 {
	animation-name: backg;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes backg {
	0% {
		left: 0;
	}
	100% {
		left: 10%;
	}
}
.ground2 {
	background-color: #78c4e1;
}
/* _____________ */
.basis {
	position: relative;
	z-index: 2;
}
.basis__1 {
	width: 870px; 
	height: 180px;
	background-color: #91c651;
	border-radius: 50%;
	position: absolute;
	top: 150px;
	left: 80px;
}
.basis__2 {
	width: 570px; 
	height: 170px;
	background-color: #91c651;
	border-radius: 50%;
	position: absolute;
	top: 240px;
	left: 490px;
	transform: rotate(-15deg);
}
.basis__3 {
	width: 500px; 
	height: 180px;
	background-color: #91c651;
	border-radius: 50%;
	position: absolute;
	top: 170px;
	left: 880px;
	transform: rotate(-5deg);
}
.basis__4 {
	width: 300px; 
	height: 100px;
	background-color: #91c651;
	border-radius: 50%;
	position: absolute;
	top: 150px;
	left: 780px;
	transform: rotate(-5deg);
}
.basis {
perspective: 13px;
perspective-origin: center;
}
.basis__5 {
	width: 300px; 
	height: 15px;
	background-color: #161716;
	border-radius: 8%;
	position: absolute;
	top: 240px;
	left: 780px;
	transform: rotate3d(260, 15, 320, 5deg);
}
/* ______________ */
.cars__windmill {
	position: relative;
	z-index: 3;
}
.propeller {
	animation-name: rotate1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.gf {
	animation-name: led1;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	transition-delay: 0.3s;
}
@keyframes led1 {
	0% {
		color: azure;
	}
	100% {
		box-shadow: 2px 2px 40px rgb(237, 237, 23);
	}
}
.windmill__1 {
	width: 100px; 
	height: 180px;
	background-color: #ffffff;
	position: absolute;
	top: 610px;
	left: 555px;
	border-radius: 10%;
}
.windmill__2 {
	width: 50px;
    border-top: 310px solid #ffffff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
	position: absolute;
	transform: rotate(-180deg);
	top: 304px;
	left: 580px;
}
.windmill__3 {
	width: 100px;
    height: 60px;
    background-color: #6dbd52;
    border-radius: 50%;
    position: absolute;
    transform: rotate(-90deg);
    top: 660px;
    left: 555px;
}
.windmill__3 {
	animation-name: led;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes led {
	0% {
		background-color: #389f26;
	}
	100% {
		box-shadow:  2px 2px 20px rgb(60, 163, 12);
	}
}
/* __________________ */
.windmill__propeller {
	position: relative;
	top: 0;
	left: 0;
	z-index: 4;
	min-height: 575px;
}
.propeller__1 {
	width: 60px;
	height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 255px;
    left: 573px;
}
.propeller__1::before {
	content: "";
	width: 30px;
	height: 30px;
    background-color: #979797;
    border-radius: 50%;
	position: absolute;
	padding: 10px;
	top: 15px;
    left: 15px;
}
.propeller__2 {
	width: 250px; 
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 260px;
	left: 325px;
}
.propeller__3 {
	width: 250px; 
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 400px;
	left: 560px;
	transform: rotate(-120deg);
}
.propeller__4 {
	width: 250px; 
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 135px;
	left: 550px;
	transform: rotate(-240deg);
}
/* ________________ */
.cars__sign {
	position: relative;
	z-index: 4;

}
.sign__1 {
	width: 200px; 
	height: 10px;
	background-color: #504549;
	position: absolute;
	top: 650px;
	left: 1125px;
	transform: rotate(-90deg);
}
.sign__2 {
	width: 130px; 
	height: 130px;
	background-color: #26839f;
	position: absolute;
	top: 450px;
	left: 1160px;
	border-radius: 10px;
}
/* _________ */
.car {
	position: absolute;
	top: -520px;
	animation-name: rotate4;
	animation-duration: 0.3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: bottom;
	animation-delay: 2s;
}
@keyframes rotate4 {
	0% {
		transform: rotate(-0.04deg);
	}
	100% {
		transform: rotate(0.04deg);
	}
}
.cars__car {
	position: relative;
	z-index: 4;
}
.car__1 {
	width: 220px; 
	height: 80px;
	background-color: rgb(241 87 85);
	position: absolute;
	top: 670px;
	left: 826px;
	border-radius: 16px 16px 14px 14px / 37px 37px 18px 18px;
	z-index: 4;
}
.car__2 {
	width: 200px;
    border-top: 80px solid rgb(241 87 85);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
	position: absolute;
	transform: rotate(-180deg);
	top: 610px;
	left: 836px;
	border-radius: 30px;
}
.car__3 {
	content: "";
	width: 200px;
    border-top: 80px solid #3a404b;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
	position: absolute;
	transform: rotate(-180deg);
	top: 613px;
	left: 836px;
	transform: scale(-0.95);
	border-radius: 30px;
}
.car__4 {
	width: 200px; 
	height: 33px;
	background-color: rgb(210 75 71);
	position: absolute;
	top: 690px;
	left: 836px;
	border-radius: 5px;
	z-index: 4;
}
.car__5 {
	width: 220px; 
	height: 26px;
	background-color: rgb(210 75 71);
	position: absolute;
	top: 730px;
	left: 826px;
	border-radius: 5px;
	z-index: 4;
}
.car__5::before {
	content: "";
	width: 80px; 
	height: 20px;
	background-color: rgba(215, 170, 169, 0.564);
	position: absolute;
	top: 3px;
	left: 70px;
	border-radius: 5px;
	z-index: 5;
}
.c9__1 {
	width: 40px; 
	height: 23px;
	background-color: #fff3f4;
	border-radius: 5px;
	display: inline-block;
}
.c9__1::before {
	content: "";
	width: 25px; 
	height: 15px;
	background-color: #d5e845;
	border-radius: 5px;
	z-index: 5;
	position: absolute;
	top: 4px;
	left: 8px;
}
.c9__3::before {
	content: "";
	width: 25px; 
	height: 15px;
	background-color: #d5e845;
	border-radius: 5px;
	z-index: 5;
	position: absolute;
	top: 4px;
	left: 148px;
}
.c9__3 {
	width: 40px; 
	height: 23px;
	background-color: #fff3f4;
	border-radius: 5px;
	display: inline-block;
}
.c9__2 {
	width: 90px; 
	height: 23px;
	background-color: #504549;
	border-radius: 5px;
	display: inline-block;
}
.car__9 {
	position: absolute;
	top: 695px;
	left: 846px;
	border-radius: 5px;
	z-index: 4;
}
.v:not(:last-child) {
	margin-right: 5px;
}
.c6 {
    position: absolute;
    top: 715px;
    left: 835px;
    border-radius: 10%;
	max-width: 300px;
}
.c6__1 {
	width: 40px;
    height: 60px;
    background-color: #5d5353;
    border-radius: 10%;
	display: inline-block;
}
.x:not(:last-child) {
	margin-right: 120px;
}
.c6__2 {
	width: 40px;
    height: 60px;
    background-color: #5d5353;
    border-radius: 10%;
	display: inline-block;
}
.car__10 {
	position: absolute;
	z-index: 1;
}
.c10__1 {
	width: 20px;
    height: 30px;
    background-color: rgb(210 75 71);
    border-radius: 10%;
	display: inline-block;
	top: 645px;
    left: 805px;
	position: absolute;
}
.c10__1::before {
	content: "";
	width: 20px;
    height: 10px;
    background-color: rgb(210 75 71);
    border-radius: 10%;
	display: inline-block;
	transform: rotate(10deg);
	top: 20px;
    left: 15px;
	position: absolute;
}
.c10__2 {
	width: 20px;
    height: 30px;
    background-color: rgb(210 75 71);
    border-radius: 10%;
	display: inline-block;
	top: 645px;
    left: 1045px;
	position: absolute;
}
.c10__2::before {
	content: "";
	width: 20px;
    height: 10px;
    background-color: rgb(210 75 71);
    border-radius: 10%;
	display: inline-block;
	transform: rotate(-10deg);
	top: 20px;
    left: -15px;
	position: absolute;
}
/* _________ */
.sign__t {
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	font-size: 120px;
	border: 1px solid white;
	border-radius: 10px;
	display: inline-block;
	width: 120px; 
	height: 120px;
	position: absolute;
	top: 5px;
	left: 5px;
}
.sign {
	position: absolute;
	top: 160px;
}
/* _____Practic_________ */
.footer {
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: antiquewhite;
	font-size: 0;
}
.footer__conteiner {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 50px;
	max-width: 1050px;
	min-height: 4500px;
	margin: 0 auto;
	vertical-align: top;
	text-align: center;
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	color: #161716;
}
.footer__conteiner *:not(:last-child)	{
	margin-bottom: 20px;
}
/* ____________ */
.footer__blok1 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.5s;
}
.footer__blok1:hover {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgb(123, 48, 152);
	transition-duration: 0.8s;
}
/* _______________________ */
.footer__blok2 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.5s, 3s;
	transition-property: width, background-color;
}
.footer__blok2:hover {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: rgb(123, 48, 152);
}
/* _______________________ */
.b3__item {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.8s;
}
.footer__blok3:hover .b3__item {
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.3s;
}
/* _______________________ */
.footer__blok4 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.5s, 3s;
	transition-property: width, background-color;
	transition-delay: 1s, 2s;
}
.footer__blok4:hover {
	width: 250px;
	height: 250px;
	background-color: rgb(123, 48, 152);
}
/* _______________________ */
.list {
	color: rgb(162, 152, 12);
}
.list__item {
	transform: translate(-100%, 0px);
	transition-duration: 0.2s;
}
.list:hover .list__item {
	transform: translate(0px, 0px);
	color: rgb(12, 102, 162);
	transition-duration: 1s;
}
.list__item:nth-child(1) {
	transition-delay: 0s;
}
.list__item:nth-child(2) {
	transition-delay: 0.2s;
}
.list__item:nth-child(3) {
	transition-delay: 0.4s;
}
.list__item:nth-child(4) {
	transition-delay: 0.6s;
}
.list__item:nth-child(5) {
	transition-delay: 0.8s;
}
.list__item:not(:last-child) {
	margin-bottom: 15px;
}
/* _______________________ */
.footer__blok6 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.39, -0.42, 0.47, 1.35);
}
.footer__blok6:hover {
	width: 400px;
	background-color: rgb(123, 48, 152);
}
/* _______________________ */
.footer__blok7 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.5s;
	transition-timing-function: steps(2, start);
}
.footer__blok7:hover {
	width: 400px;
	background-color: rgb(123, 48, 152);
}
/* _______________________ */
.footer__blok8 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.footer__blok8:hover {
	background-color: rgb(48, 152, 67);
	transform: rotate(360deg);
}
/* _______________________ */
.footer__blok9 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition: all 5s linear 0.5s;

}
.footer__blok9:hover {
	background-color: rgb(48, 152, 67);
	transform: rotate(360deg);
}
/* _______________________ */
.footer__blok10 {
	width: 200px;
	height: 200px;
	background-color: rgb(48, 93, 152);
	transition: 
		/* width 0.5s linear 0s,
		height 0.9s ease-in-out 0.3s; */
		width 0.5s,
		height 0.9s 0.3s;
}
.footer__blok10:hover {
	background-color: rgb(48, 152, 67);
	width: 400px;
	height: 300px;
}
/* _______________________ */
.link__item{
	color: #26289f;
	transition: color 0.9s;
}
.link:hover .link__item  {
	color: #269f32;
}
/* _______________________ */
.blok12 {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.blok12 img{
	width: 200px;
}
.blok12::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background-color: #26839f;
	opacity: 0.5;
	transition: top 0.3s;
}
.blok12:hover:before {
top: 0;
}
/* _______________________ */
.link2__item2 {
	color: gold;
	overflow: hidden;
}
.link2__item2::after  {
	content: "";
	display: block;
	width: 0;
	left: 50%;
	position: relative;
	height: 2px;
	margin-top: 2px;
	background-color: gold;
	transition: all 0.3s;
}
.link2__item2:hover {
	color:  rgb(98, 255, 0);
}
.link2__item2:hover::after  {
	background-color: rgb(98, 255, 0);
	width: 100%;
	left: 0;
}
/* _______________________ */
.footer__animation-1 {
	width: 200px;
	height: 200px;
	background-color: #269f38;
	animation-name: rotate1;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}
@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* _______________________ */
.footer__animation-2 {
	width: 200px;
	height: 200px;
	background-color: #269f38;
	animation-name: rotate;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* _______________________ */
.footer__animation-3 {
	width: 200px;
	height: 200px;
	background-color: #269f38;
	animation-name: rotate;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.footer__animation-3:hover {
	animation-play-state: paused;
}
/* _______________________ */
.footer__animation-4 {
	width: 20px;
	height: 20px;
	background-color: #26389f;
	animation-name: run;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	position: relative;
	animation-delay: 2s;
}
@keyframes run {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
		background-color: #9f2634;
	}
}
.footer__animation-4:hover {
	animation-play-state: paused;
}
/* _______________________ */
.footer__animation-4 {
	width: 20px;
	height: 20px;
	background-color: #26389f;
	animation-name: run;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-iteration-count: 5;
	animation-direction: alternate;
	position: relative;
	animation-fill-mode: forwards;
}
@keyframes run {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
		background-color: #9f2634;
	}
}
.footer__animation-4:hover {
	animation-play-state: paused;
}
/* _______________________ */
.footer__animation-5 {
	width: 200px;
	height: 200px;
	background-color: #269f38;
	animation: rotate2 2s linear 10 normal running 0s forwards;
}
@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.footer__animation-5:hover {
	animation-play-state: paused;
}
/* _______________________ */
.newton {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border-top: 10px solid yellow;
	position: relative;
}
.newton__pendulum {
	position: absolute;
	top: -2px;
	height: 100%;
	width: 33.333%;
	transform-origin: top;
}
.newton__pendulum::before {
	content: "";
	width: 5px;
	position: absolute;
	background-color: #26839f;
	height: 100%;
	left: 50%;
	margin-left: -2.5%;
}
.newton__pendulum::after {
	content: "";
	width: 100px;
	height: 100px;
	background-color: #26839f;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	bottom: 0;
	left: 0;
}
.newton__pendulum:nth-child(1) {
	left: 0;
	animation: left-item 1s infinite ease-in alternate;
}
.newton__pendulum:nth-child(2) {
	left: 33.4%;
}
.newton__pendulum:nth-child(3) {
	right: 0;
	animation: right-item 1s infinite ease-out alternate;
}
@keyframes left-item {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes right-item {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}
.newton:hover .newton__pendulum {
	animation-play-state: paused;
}
/* _______________________ */
.buttom__item {
	cursor: pointer;
	background-color: rgb(85, 120, 132);
	display: inline-block;
	padding: 15px;
	border-radius: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	box-shadow: 0px 5px 0px #000;
	position: relative;
	top: 0;
	transition: all 0.2s;
}
.buttom__item:hover {
	top: 2px;
	box-shadow: 0px 3px 0px #000;
}
.buttom__item:active {
	top: 5px;
	box-shadow:
		0px 0px 0px #000,
		inset 0px 0px 5px 0px #333;
}
